{% extends "redirect_links/base.html" %}
{% load static %}

{% block title %}{{ company.name }}{% endblock title %}
{% block h1 %}{{ company.name }}{% endblock h1 %}
{% block above_h1 %}
<div>
    {% include "redirect_links/components/comeback.html" %}
</div>
{% endblock above_h1 %}
{% block content %}
    <a href="{% url "redirect" company.short_link %}">
        {% url "redirect" company.short_link %}
    </a>
    <div>
        <h2>Статистика</h2>
        <form action="" method="get">
            <input type="date" name="beginning" value="{{data_beginning}}" min="{{min_data}}" max = "{{max_data}}">
            <input type="date" name="end" value="{{data_end}}" min="{{min_data}}" max = "{{max_data}}">
            <input type="submit" value="Показать">
        </form>
        <div class='diagram'>
            <canvas id="myChart"></canvas>
        </div>
        <table class='table-list'>
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        IP
                    </th>
                    <th>
                        Browser
                    </th>
                    <th>
                        City
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in sesions %}
                    <tr>
                        <td>
                            {{ item.data }}
                        </td>
                        <td>
                            {{ item.ip_user }}
                        </td>
                        <td>
                            {{ item.browser }}
                        </td>
                        <td>
                            {{ item.city }}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      datasets: [{
        data: [{{sesions_data|safe}}]
      }]
    }
  }).resize(1000, 450)

</script>
{% endblock js %}


