{% extends "redirect_links/base.html" %}
{% load static %}

{% block title %}Кампании{% endblock title %}
{% block h1 %}Кампании{% endblock h1 %}

{% block content %}
    <div class='content-box-top'>
        <form action="" class='search'>
            <input type="text" name="search" class='input' id="search" placeholder='Поиск...'>
            <input type="submit" value="Искать" class='btn'>
        </form>
        <a href="{% url "add_company" %}" class='link-btn'>
            <img src="{% static "icon/add.svg" %}">
            <span>
                Создать новую кампанию
            </span>
        </a>
    </div>
    <table class='table-list'>
        <thead>
            <tr>
                <th>Номер №</th>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>
                        <a href="{% url "detail_company" company.id %}">
                            <h3>{{ company.name }}</h3>
                        </a>
                    </td>
                    <td>{{ company.data }}</td>
                    <td>
                        <a href="{% url "delete_company" company.id %}" class='link-btn'>
                            <img src="{% static "icon/delete.svg" %}">
                            <span>Удалить</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}